.body♻️♻️♻️{
    animation:none !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
    border:none !important;
    border-radius:0px !important;
    display:inline !important;
    background-color:#E4CAA2 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
    width:100% !important;
    height:100% !important;
    font-size:20px !important;
    font-weight:none !important;
    box-shadow:none !important;
    position: static !important;
   opacity:100% !important;
    
  }
  
  .titleh1♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% !important;
    text-align:center !important;
    margin:20px 0px 0px 0px !important;
    padding:0px !important;
    border-radius:0px !important;
    display:block !important;
    font-size:30px !important;
    font-weight:none !important;
    box-shadow:none !important;
    background-color:#E4CAA2 !important;
     color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
     width:100% !important;
    height:50px !important;
  }
  .yourcode♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important ;
    animation:none !important;
    
    resize:none !important;
    background-color:#E4CAA2 !important;
    border:3px solid #865836 !important;
    border-radius:10px !important;
    width:48% !important;
    height:350px !important;
    overflow:scroll !important;
    color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    margin:20px 0px 0px 10px !important;
    padding:0px !important;
    display:inline-block !important;  
    letter-spacing:2px !important;
    font-size:15px !important;
    font-weight:none !important;
    box-shadow:none !important;
    
  }
  .codesectionread♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    border:1px solid red !important;
    display:inline-block !important;
    width:48% !important;
    height:350px !important;
    overflow:scroll !important;
    border:3px solid #865836 !important;
    border-radius:10px !important;
    background-color:white !important;
    font-family: none !important;
    margin:20px 0px 0px 0px !important;
    padding:0px !important;
    letter-spacing:2px !important;
    font-size:none !important;
    font-weight:none !important;
    box-shadow:none !important;
  }
  .buttonsection♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% !important;
    
    text-align:center !important;
    display:inline-block !important;
    width:100% !important;
    height:70px !important;
    border:none !important;
    border-radius:10px !important;
    background-color:#E4CAA2 !important;
    font-family: none !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
    letter-spacing:1px !important;
    font-size:15px !important;
    font-weight:none !important;
    box-shadow:none !important;
  }
  .coursesheet♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    margin:10px 5% 0px 0% !important;
    background-color:#A0CFD6 !important;
    color:#0F3FD8 !important;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #1640C3 !important;
    font-weight:bold !important;
    
    text-align:center !important;
    display:inline-block !important;
    width:140px !important;
    height:55px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
    
  }
  
  .coursesheet♻️♻️♻️:hover{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    transition:1s !important;
    background-color:#96A5D5 !important;
    margin:10px 5% 0px 0% !important;
    color:#0F3FD8 !important;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #1640C3 !important;
    font-weight:bold !important;
    
    text-align:center !important;
    display:inline-block !important;
    width:140px !important;
    height:55px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial  !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
  }
  .readmycode♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    margin:10px 7% 0px 5% !important;
    background-color:white !important;
    color:#865836 !important;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #477241 !important;
    font-weight:bold !important;
    font-size:13px !important;
    text-align:center !important;
    display:inline-block !important;
    width:145px !important;
    height:55px !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    box-shadow:none !important;
    animation:none !important;
    
  }
  
  .readmycode♻️♻️♻️:hover{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important ;
    
    transition:0.5s !important;
    border:2px solid #865836 !important;
    margin:10px 7% 0px 5% !important;
    background-color:white !important;
    color:#865836 !important;
    border-radius:15px !important;
    padding:18px !important;
    font-weight:bold !important;
    font-size:13px !important;
    text-align:center !important;
    display:inline-block !important;
    width:145px !important;
    height:55px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    box-shadow:none !important;
    
  }
  .solution♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    margin:10px 10% 0px 7% !important;
    background-color:#53884C !important;
    color:white !important;
    border-radius:15px !important ;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #477241 !important;
    font-weight:bold !important;
    text-align:center !important;
    display:inline-block !important;
    width:110px !important;
    height:55px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
    
    
  }
  
  .solution♻️♻️♻️:hover{
   opacity:100% !important;
    
      transition:0.25s !important;
    position: static !important;
    animation:none !important;
  
    background-color: #5D8046 !important;
    
    margin:10px 10% 0px 7% !important;
    color:white !important;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #477241 !important;
    font-weight:bold !important;
    text-align:center !important;
    display:inline-block !important;
    width:110px !important;
    height:55px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
    
    
  }
  .nextcoursebutton♻️♻️♻️{
   opacity:100% !important;
    
    position: static !important;
    animation:none !important;
    
    margin:10px 7% 0px 7% !important;
    background-color:#D6E53E !important;
    color:#454636 !important ;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #477241 !important;
    font-weight:bold !important;
    text-align:center !important;
    display:inline-block !important ;
    width:195px !important;
    height:55px !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
    
  }
  
  .nextcoursebutton♻️♻️♻️:hover{
   opacity:100% !important;
    
      transition:1s !important;
    background-color: #D3D047 !important;
    position: static !important;
    animation:none !important;
  
    box-shadow:2px 2px 5px #D6E53E !important;
    margin:10px 7% 0px 7% !important;
    color:#454636 !important;
    border-radius:15px !important;
    border:none !important;
    padding:18px !important;
    border-bottom: 1px solid #477241 !important;
    
    font-weight:bold !important;
    text-align:center !important;
    display:inline-block !important;
    width:195px !important;
    height:55px !important;
    font-family:"Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
  }
  
  .thesheetsection2♻️♻️♻️{
    
    border-radius:0px !important;
    margin:0px 0px 0px 0px !important;
    animation:none !important;
    
    height:450px !important;
    position:absolute !important;
    display:inline-block !important ;
    background-color:white !important;
    opacity:100% ;
    text-align:center !important;
    font-weight:none !important; 
    padding:0px !important;
    overflow:scroll !important;
    border-radius:2px !important ;
    box-shadow:2px 2px 5px #865836 !important ;
    border:5px double #865836 !important;
    width:70% !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    
  }
  .thesheetsection1♻️♻️♻️{
    
    display:inline-block !important ;
    position:absolute !important;
    top:80px !important;
    left:23% !important;
    Z-index:5;
    width:70% !important;
    animation:none !important;
   opacity:100% ;
    
    
    
    margin:0px 0px 0px 0px !important;
    border-radius:0px !important;
    
    background-color:none !important;
    font-weight:none !important;
    padding:0px !important;
    border-radius:2px !important;
    box-shadow:none !important;
    border:none !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    
  }
  .closebutton♻️♻️♻️{
   opacity:100% !important;
    
    position:sticky !important;
     top:8px !important;
    left:92% !important;
    width:40px !important;
    border-radius:50% !important;
    animation:none !important;
    
    margin:0px 0px 0px 0px !important;
    background-color:white !important;
    border:none !important;
    padding:0px !important;
    font-weight:none !important;
    text-align:none !important;
    display:inline-block !important;
    height:40px !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size:13px !important;
    box-shadow:none !important;
    
  }
  .thesolutionsection2♻️♻️♻️{
    border-radius:0px !important;
    margin:0px 0px 0px 0px !important;
    animation:none !important ;
    
    height:450px !important;
    position:absolute !important;
    display:inline-block !important;
    background-color:white !important;
    opacity:0%;
    text-align:center !important;
    font-weight:none !important;
    padding:0px !important;
    overflow:scroll !important;
    border-radius:2px !important;
    box-shadow:2px 2px 5px #865836 !important;
    border:5px double #865836 !important;
    width:70% !important;
    font-family:  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    
  }
  .thessolutionsection1♻️♻️♻️{
    display:inline-block !important ;
   opacity:100% !important;
    
    position:absolute !important;
    top:80px !important;
    left:23% !important;
    Z-index:-1;
    width:70% !important;
    animation:none !important;
    
    
    
    margin:0px 0px 0px 0px !important;
    border-radius:0px !important;
    
    background-color:none !important;
    font-weight:none !important;
    padding:0px !important;
    border-radius:2px !important;
    box-shadow:none !important;
    border:none !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    
  }
  .closesolutionbutton♻️♻️♻️{
   opacity:100% !important;
    
    position:sticky !important;
     top:8px !important;
    left:92% !important;
    width:40px !important;
    border-radius:50% !important;
    animation:none !important;
    
    margin:0px 0px 0px 0px !important;
    background-color:white !important;
    border:none !important;
    padding:0px !important;
    font-weight:none !important;
    text-align:none !important ;
    display:inline-block !important;
    height : 40px !important;
    font-family :  "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:1px !important;
    font-size : 13px !important;
    box-shadow:none !important;
    
  }
  .solutionh1♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% important;
    text-align:center !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
    border-radius:0px !important;
    display:block !important;
    font-size:30px !important;
    font-weight:none !important;
    box-shadow:none !important;
    background-color:white !important;
     color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
     width:100% !important;
    height:50px !important;
  }
  .solutionp♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% important;
    text-align:center !important;
    margin:20% auto 0px auto !important;
    padding:0px !important;
    border-radius:0px !important;
    display:block !important;
    font-size:20px !important;
    font-weight:none !important;
    box-shadow:none !important;
    background-color:white !important;
     color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
     width:75% !important;
    height:100px !important;
  }
  .Coursesh1♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% !important;
    text-align:center !important;
    margin:0px 0px 0px 0px !important;
    padding:0px !important;
    border-radius:0px !important;
    display:block !important;
    font-size:30px !important;
    font-weight:none !important;
    box-shadow:none !important;
    background-color:white !important;
     color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
     width:100% !important;
    height:50px !important;
  }
  .coursesp♻️♻️♻️{
    position: static !important;
    animation:none !important;
   opacity:100% !important;
    text-align:center !important;
    margin:20px auto 0px auto !important;
    padding:0px !important;
    border-radius:0px !important;
    display:block !important;
    font-size:20px !important;
    font-weight:bold !important;
    box-shadow:none !important;
    background-color:white !important;
     color:#865836 !important;
    font-family: "Trebuchet MS", Verdana, Halvetica, Arial !important;
    letter-spacing:2px !important;
     width:75% !important;
    height:30px !important;
  }
  form{
    display: inline-block !important;
  }
  .img♻️♻️♻️{
    border:none !important;
      animation:none !important;
    box-shadow:none !important;
    color:none !important;
    background-color:none !important;
    margin:auto !important;
  }
  *::-webkit-scrollbar-thumb{
    border-radius: 10px !important;
    background-color: rgb(94, 43, 43) !important;
    }
    *::-webkit-scrollbar{
     width:7px !important;
     height: 0.01px !important;
 
     margin-right: 10px !important;}