.body {
    background-color: rgb(227, 200, 159);
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
}
body {
    display: block;
    margin: 8px;
}* {
    color: rgb(132, 86, 52);
}::-webkit-scrollbar {
    margin-right: 10px;
    height: 0.01px;
    width: 5px;
}::-webkit-scrollbar-thumb {
    background-color: rgb(94, 43, 43);
    border-radius: 10px;
}::selection {
    background-color: aliceblue;
    color: rgb(132, 86, 52);
}   b{
    color: white;
  }
a {
color: #916643;
font-weight: 600;
font-size: 16px;
font-family: "Trebuchet MS", Verdana, serif;
text-decoration: none;
margin: 80px;
transition:0.5s;

}
h1 {
text-align: center;
font-size: 30px;
color: #885030;
font-family: "Trebuchet MS", Verdana, serif;
}
.body {
background-color: #e3c89f;
height: 100%;
width: 100%;
align-items: center;
text-align: center;
}
.fff {
overflow:hidden;
margin: auto;
text-align: center;
display: flex;
height: 100px;
align-items: center;
position: sticky;
top: 0;
width: 1175px;
height: 110px;
background-color: #e3c89f;
border-bottom: 2px solid #dabb8b;
}
.imgs {
    margin-top: 30px;
}
.c:hover {

background-color: #1e8449;

}
.e:hover {
    font-size: 20px;
    padding: 20px;
    margin: 0px 65px 0px 39px;
    transition: 450ms;
    border-radius: 40px;
    color: white;
    background-color: #229954;
    }
.d:hover {
font-size: 20px;
padding: 20px;
margin: 0px 60px 0px 39px;
transition: 450ms;
border-radius: 40px;
color: white;
background-color: #229954;
}
.a:hover {
font-size: 20px;
padding: 20px;
margin: 0px 54px 0px 45px;
transition: 450ms;
border-radius: 40px;
color: white;
background-color: #229954;
}
.logo {
margin: 0px 0px 5px 10px;
height: 95px;
}
.Learnprogramming {
color: #229954;
text-align: center;
}

.mama1 {
margin-top: 40px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0s;
}
@keyframes hola {
0% {
  background-color: #e74c3c;
  width: 20px;
  margin-top: 0px;
  margin-left: 10%;
}
12% {
  background-color: #9b59b6;
  margin-left: 20%;
  width: 10px;
  margin-top: 20px;
}
25% {
  background-color: #2980b9;
  margin-left: 30%;
  margin-top: 0px;

  width: 20px;
}
37% {
  background-color: #1abc9c;
  margin-left: 40%;
  width: 10px;
  margin-top: 20px;
}
50% {
  margin-top: 0px;

  background-color: #27ae60;
  width: 20px;
  margin-left: 50%;
}
62% {
  background-color: #2ecc71;
  width: 10px;
  margin-left: 60%;
  margin-top: 20px;
}
75% {
  margin-top: 0px;

  background-color: #f1c40f;
  width: 20px;
  margin-left: 70%;
}
87% {
  background-color: #f39c12;
  width: 10px;
  margin-left: 80%;
  margin-top: 20px;
}
100% {
  margin-top: 0px;

  background-color: #d35400;
  width: 20px;
  margin-left: 90%;
}
}
.mama2 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.05s;
}
.mama3 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.1s;
}
.mama4 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.15s;
}
.mama5 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.2s;
}
.mama6 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.25s;
}
.mama7 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.3s;
}
.mama8 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.35s;
}
.mama9 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.4s;
}
.mama10 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.45s;
}
.mama11 {
margin-top: 1px;
width: 5px;
height: 5px;
border-radius: 100px;
background-color: #6e2c00;
animation: 3s hola alternate infinite;
animation-timing-function: ease-in-out;
animation-delay: 0.5s;
}
.lelo {
overflow: hidden;
height: 205px;
margin: auto;
width: 1175px;
margin-bottom: 0px;
margin-top: 10px;
}
.imgs {
margin-top: 30px;
}
.imgsocial{
margin-right: 8%;
}
.imgsocialinst{
margin-right: 3%;
}
.imgsocialface{
margin-left: 0%;

margin-right: 0%;
}.c {
    color: white;
    background-color: rgb(34, 153, 84);
    padding: 20px;
    border-radius: 40px;
}a {
    color: rgb(145, 102, 67);
    font-weight: 600;
    font-size: 16px;
    font-family: "Trebuchet MS", Verdana, serif;
    text-decoration: none;
    margin: 80px;
    transition: all 0.5s ease 0s;
}.imges {
    height: 100%;
    margin-top: auto;
    margin-right: 30px;
    margin-bottom: auto;
    width: 150px;
    display: inline-block;
    border-right: 5px double rgb(35, 155, 86);
}.felipeimg {
    margin-top: 30px;
    width: 80px;
    border-radius: 30px 50px 50px 30px;
}.lol {
    font-size: 15px;
    font-family: "Trebuchet MS", Verdana, serif;
}.text {
    margin-bottom: 50px;
    width: 500px;
    display: inline-block;
    padding: 0px;
}.felipeh2 {
    font-size: 30px;
    margin-top: 10px;
}p {
    font-family: "Edu SA Beginner", cursive;
    font-size: 16px;
}.suporta {
    text-align: center;
}.imgestt {
    height: 100%;
    margin-top: auto;
    margin-right: 30px;
    margin-bottom: auto;
    width: 150px;
    display: inline-block;
    border-right: 5px double rgb(81, 204, 184);
}.felipe {
    background-color: rgb(218, 187, 139);
    width: 800px;
    height: 190px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin: 50px auto;
}